.app {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.feedContainer {
  position: relative;
  width: 500px;
}

.feedCardContainer {
  padding-top: 20px;
  position: absolute;
}
