.container {
  border: 1px #000 solid;
  height: 300px;
  position: relative;
  width: 300px;
}

.line {
  background-color: #000;
  height: 10px;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform-origin: top;
  width: 2px;
  will-change: transform;
}
