<div class="container">
  <!-- PROJECTS LIST -->
  <div class="col-50">
    <!-- `[projects]` refers to the projects input prop in the ProjectsList component -->
    <app-projects-list
      [projects]="projects$ | async"
      (selected)="selectProject($event)"
      (deleted)="deleteProject($event)"
    ></app-projects-list>
  </div>
  <!-- PROJECT DETAILS -->
  <div class="col-50">
    <app-project-details
      [project]="selectedProject"
      (saved)="saveProject($event)"
      (cancelled)="cancel()"
    ></app-project-details>
  </div>
</div>
