.container {
  margin: 0 auto;
  width: 70%;
}

.img-container {
  margin-right: 4%;
  width: 28%;
}

.content-container {
  width: 68%;
}

.img-container,
.content-container {
  float: left;
}

.img-container img {
  max-width: 100%;
}
