.zoomable-image-container {
  position: relative;
}

.zoomable-zoom-box {
  border: 2px #fff solid;
  display: none;
  position: absolute;
}

.zoomable-zooming .zoomable-zoom-box {
  display: block;
}
