.tabs-links {
  border-bottom: 1px #ddd solid;
  list-style: none;
  padding: 0 0 0 15px;
}

.tabs-links:after {
  clear: both;
  content: "";
  display: block;
}

.tabs-links li {
  float: left;
  margin-right: 20px;
}

.tabs-links a {
  border: 1px #ddd solid;
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #0791d6;
  display: block;
  letter-spacing: 0.04em;
  padding: 10px;
  text-decoration: none;
}

a.tabs-active {
  color: #444;
  cursor: default;
  font-weight: bold;
  letter-spacing: normal;
}

.tabs-pane {
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s ease-in;
}

.tabs-transitioning,
.tabs-pane.tabs-active {
  position: static;
}

.tabs-transitioning {
  opacity: 0;
}

.tabs-pane.tabs-active {
  opacity: 1;
}
