.tabs-links {
  list-style: none;
  padding: 0;
}

.tabs-links:after {
  clear: both;
  content: "";
  display: block;
}

.tabs-links li {
  float: left;
}

a.tabs-active {
  font-weight: bold;
}

.tabs-container {

}

.tabs-pane {
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s ease-in;
}

.tabs-transitioning,
.tabs-pane.tabs-active {
  position: static;
}

.tabs-transitioning {
  opacity: 0;
}

.tabs-pane.tabs-active {
  opacity: 1;
}
