.card {
  background-color: #fff;
  border: 1px #000 solid;
  border-radius: 8px;
  left: 50%;
  padding: 15px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.heading {
  margin: 0 10px 0 0;
}

.xIcon {
  display: block;
}
