.square-fixed-container {
  width: 300px;
}

.square {
  position: relative;
}

.square-fixed {
  padding-bottom: 100%;
  width: 100%;
}

.square-percentage {
  padding-bottom: 80%;
  width: 80%;
}

.stretch {
  background-color: #0033cc;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.square-percentage-pseudo {
  overflow: hidden;
  width: 50%;
}

.square-percentage-pseudo::before {
  content: "";
  display: block;
  margin-bottom: 100%;
}
