.container {
  display: flex;
  min-height: 250px;
  overflow: hidden;
  position: relative;
}

.slider {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  padding: 16px 8px;
  transition: transform 0.5s ease-in-out;
}
