.button {
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.buttonPrev {
  left: 15px;
}

.buttonNext {
  right: 15px;
}
